COLMENA_APP_NAME=Colmena
COLMENA_ENV=development
COLMENA_DB_PATH=./data/db/colmena.db
COLMENA_PUBLIC_BASE_URL=http://127.0.0.1:8080
COLMENA_JWT_SECRET=cambia-esto-en-produccion
COLMENA_JWT_EXPIRE_MINUTES=10080
COLMENA_FRONTEND_BASE_URL=http://127.0.0.1:5174
